@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif !important;
  text-decoration: none;
}

:root{
  /* Login page*/
  --primary-black: #000000;
  --primary-background-board: #F5F5F5;
  --text-white: #ffffff;
  --icon-grey-apple: #999999;
  --text-light-grey: #858585;
  --primary-blue-text: #346BD4;
  --print: #474577;


  --transition: 400ms ease;

}

html{
  scroll-behavior: smooth;
}

body{
  background: var(--primary-background-board);
}

::-webkit-scrollbar{
  display: none;
}

